################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ArcaneLogic.MonoGame.Input/bin
/ArcaneLogic.MonoGame.Input/obj
